<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar color="blue-primary">
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar color="blue-primary">
      <ion-title size="large">Minha Conta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <div class="informacoes">
      <ion-row>
        <ion-col *ngIf="utilizador">
          Nome: {{utilizador?.data.nome}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="utilizador">
          Email: {{utilizador?.data.email}}
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <div class="botaoH">
          <ion-button color="blue-primary" (click)="irHistorico()">
            <ion-icon slot="start" name="cloud-outline"></ion-icon>
            VER O HISTORICO DE COMPRAS
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="botaoH">
          <ion-button color="danger" (click)="sair()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            SAIR DA CONTA
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
