<ion-header [translucent]="true">
  <ion-toolbar color="blue-primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="blue-primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Detalhes do Produto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="produto-imagem-container">
      <img class="produtoImagem" src={{produto?.imagem}} class="produto-imagem"/>
      <img *ngIf="produto?.imagemCarregada" src="{{ produto?.imagemCarregada }}" [ngClass]="imagemClass" />
    </div>
    <ion-card-header>
      <ion-card-title>Nome: {{ produto?.nome }}</ion-card-title>
      <ion-card-subtitle>Preço: {{ produto?.preco }} €</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="buttonfav" color="blue-primary" fill="outline" (click)="toggleFavorito()">
        <ion-icon [name]="isFavorito ? 'heart' : 'heart-outline'"></ion-icon>
        {{isFavorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div class="detalhesProduto">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="blue-primary" id="popOverProduto" class="buttonImage">
            <ion-icon slot="icon-only" name="image-outline"></ion-icon>
          </ion-button>
          <ion-popover trigger="popOverProduto" triggerAction="click" side="bottom" alignment="center">
            <ng-template>
              <ion-content class="ion-padding" scroll-y="true">
                <ion-grid class="ion-text-center">
                  <ion-row>
                    <ion-col>
                      <ion-button color="blue-primary" (click)="escolherImagem()">Escolher Imagem</ion-button>
                      <img *ngIf="imagem" src="{{ imagem }}" alt="Imagem Personalizada" class="imagemPersonalizada"/>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-radio-group (ionChange)="alterarClasseImagem()" [(ngModel)]="posicao">
                        <ion-list-header>
                          <ion-label>Posição:</ion-label>
                        </ion-list-header>
                        <ion-item>
                          <ion-label>Esquerda</ion-label>
                          <ion-radio slot="start" value="esquerda"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Centro</ion-label>
                          <ion-radio slot="start" value="centro"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Direita</ion-label>
                          <ion-radio slot="start" value="direita"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button color="success" (click)="confirmar()">Confirmar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Cor: {{produto?.cor}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Tamanho: {{produto?.tamanho}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Categoria: {{produto?.categoria}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="botao" color="blue-primary" (click)="adicionarCarrinho()">
            <ion-icon slot="start" name="cart-outline"></ion-icon>
            Adicionar ao carrinho
          </ion-button>
          <ion-button color="danger" (click)="eliminarProduto(produto.id)">
            Eliminar Produto
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
