ion-title{
  text-align: center;
  margin: auto;
}

.informacoesCompra{
  padding-top: 20%;
  ion-text{
    font-weight: bold;
    font-size: 15px;
  }
}

.finalizarCompra{
  padding-top: 20%;
  ion-icon{
    padding-right: 10px;
  }
  ion-button{
    width: 100%;
  }
}

.semExtras{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 18px;
  font-weight: bold;
}

.imagemCarregada{
  width: 300px;
  height: 300px;
}

.extrasTitulo{
  text-align: left;
}

