ion-title{
  text-align: center;
  margin: auto;
}

.informacoesCompra{
  padding-top: 20%;
  ion-text{
    font-weight: bold;
    font-size: 15px;
  }
}

.finalizarCompra{
  padding-top: 20%;
  ion-icon{
    padding-right: 10px;
  }
  ion-button{
    width: 100%;
  }
}

