<ion-content [fullscreen]="true" class="ion-text-center">
  <img src='assets/imagens/logo.png' src="logo"/>
  <div class="textoBemVindo">
    <ion-text>Bem-Vindo à <ion-text color="blue-primary">PrintPhotos Lda.</ion-text></ion-text>
  </div>

  <form (ngSubmit)="entrar()" [formGroup]="credencias">
    <div class="input">
      <ion-input formControlName="email" type="email" label="Introduza o seu email" labelPlacement="floating" fill="outline" placeholder="Introduza o seu email"></ion-input>
      <div *ngIf="credencias.get('email')?.touched && credencias.get('email')?.invalid">
        <ion-text color="danger" *ngIf="credencias.get('email')?.errors?.['required']">O email é obrigatória.</ion-text>
      </div>
      <ion-input formControlName="password" type="password" label="Introduza a sua palavra-passe" labelPlacement="floating" fill="outline" placeholder="Introduza a sua palavra-passe">
        <ion-input-password-toggle slot="end" color="blue-primary"></ion-input-password-toggle>
      </ion-input>
      <div *ngIf="credencias.get('password')?.touched && credencias.get('password')?.invalid">
        <ion-text color="danger" *ngIf="credencias.get('password')?.errors?.['required']">A palavra-passe é obrigatória.</ion-text>
      </div>
    </div>

    <div class="entrar">
      <ion-button type="submit" color="blue-primary" expand="default" shape="round" [disabled]="!credencias.valid">
        ENTRAR
      </ion-button>
    </div>
    
  </form>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>Ainda não tem conta? <ion-button color="blue-primary" (click)="criarConta()" expand="block" fill="clear" shape="round">
          Cria agora!
        </ion-button></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
