<ion-header [translucent]="true">
  <ion-toolbar color="blue-primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Finalizar Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="blue-primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Finalizar Compra</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-list *ngFor="let carrinho of carrinho; let i = index">
              <ion-item>
                <ion-thumbnail slot="start" (click)="irDetalhes(carrinho.id)">
                  <img alt="{{carrinho.nome}}" src="{{carrinho.imagem}}" />
                </ion-thumbnail>
                <ion-label>Nome: {{carrinho.nome}}</ion-label>
                <ion-label>{{carrinho.preco}} €</ion-label>
                <ion-button
                  color="danger"
                  (click)="eliminarFavorito(carrinho.id)"
                >
                  <ion-icon
                    slot="icon-only"
                    name="close-circle-outline"
                  ></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-item>
                  <ion-text>
                    <ion-button
                      color="blue-primary"
                      [id]="'modalCompra' + i"
                      expand="block"
                      fill="clear"
                      shape="round"
                    >
                      Ver extras
                    </ion-button>
                    <ion-modal #modal [trigger]="'modalCompra' + i">
                      <ng-template>
                        <ion-header>
                          <ion-toolbar>
                            <ion-title>Extras</ion-title>
                            <ion-buttons slot="end">
                              <ion-button (click)="modal.dismiss()"
                                >Close</ion-button
                              >
                            </ion-buttons>
                          </ion-toolbar>
                        </ion-header>
                        <ion-content class="ion-padding">
                          <div
                            class="semExtras"
                            *ngIf="!carrinho.imagemCarregada"
                          >
                            <ion-text>Sem Extras</ion-text>
                          </div>
                          <div
                            class="comExtras"
                            *ngIf="carrinho.imagemCarregada"
                          >
                            <ion-text>Imagem: </ion-text
                            ><img
                              class="imagemCarregada"
                              src="{{carrinho.imagemCarregada}}"
                              alt=""
                            />
                            <ion-text>Posição: {{carrinho.posicao}}</ion-text>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-text>
                </ion-item>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="moradaText">Digite a sua morada: </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          [(ngModel)]="morada"
          color="blue-primary"
          type="text"
          label="Introduza a sua morada"
          labelPlacement="floating"
          fill="outline"
          placeholder="Introduza a sua morada"
        ></ion-input>
        <ion-text color="danger" *ngIf="moradaErro">{{ moradaErro }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-radio-group [(ngModel)]="envio">
      <ion-list-header>
        <ion-label>Metodo de envio:</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let envios of metodoEnvio">
        <ion-radio value="{{envios.nome}}"><img src="{{envios.imagem}}" alt="" /> {{envios.nome}}</ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-row>
      <ion-col>
        <ion-text color="danger" *ngIf="envioErro">{{ envioErro }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group [(ngModel)]="pagamento">
          <ion-list-header>
            <ion-label>Metodo de pagamento:</ion-label>
          </ion-list-header>
          <ion-radio value="multibanco" (click)="mbwayInputVisible = false"
            ><img src="assets/imagens/multibanco.png" alt="" />
            Multibanco</ion-radio
          >
          <ion-radio value="mbway" (click)="mbwayInputVisible = true "
            ><img src="assets/imagens/mbway.png" alt="" /> MBWAY</ion-radio
          >
          <ion-radio value="contraReembolso" (click)="mbwayInputVisible = false"
            ><img src="assets/imagens/contra-reembolso.png" alt="" />
            Contra-Reembolso</ion-radio
          >
        </ion-radio-group>
        <ion-row>
          <ion-col>
            <ion-text color="danger" *ngIf="pagamentoErro"
              >{{ pagamentoErro }}</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-input
          color="blue-primary"
          *ngIf="mbwayInputVisible"
          type="tel"
          label="Introduza o seu numero de telefone"
          labelPlacement="floating"
          fill="outline"
          [(ngModel)]="mbwayValue"
          placeholder="Introduza o seu numero de telefone"
        ></ion-input>
        <ion-text color="danger" *ngIf="mbwayErro">{{ mbwayErro }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="feedback">
          <ion-text>Diga o seu feedback</ion-text>
        </div>
        <ion-input
          [(ngModel)]="feedback"
          color="blue-primary"
          type="text"
          label="O que achou da aplicação?"
          labelPlacement="floating"
          fill="outline"
          placeholder="O que achou da aplicação?"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="informacoesCompra">
      <ion-col>
        <ion-text>Resumo da compra:</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Quantidade de produtos: {{carrinho.length}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Preço da personalização: {{extras}} €</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Total: {{total}} €</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="finalizarCompra">
      <ion-col>
        <ion-button color="blue-primary" (click)="comprar()">
          <ion-icon name="cart-outline"></ion-icon>CONFIRMAR E PAGAR</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
